<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedOrders()" [disabled]="!selectedOrders || !selectedOrders.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="orders" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedOrders" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pedidos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="nome">Cliente <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="produto">Produto <p-sortIcon field="produto"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="data">Data <p-sortIcon field="data"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="order"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Código</span>
                            {{order.code || order.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cliente</span>
                            {{order.client.nome}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Produto</span>
                            {{ getProductNames(order) }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Total</span>
                            {{order.total | currency:'BRL'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Data</span>
                            {{order.date}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOrder(order)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOrder(order)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="orderDialog" [style]="{width: '450px'}" header="Order Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                

                <div class="field">
                    <label for="clients">Clientes</label>
                    <p-dropdown [options]="clients" [(ngModel)]="selectClient" optionLabel="nome" placeholder="Selecione um cliente"></p-dropdown>
                  </div>
                

                  <div class="field">
                    <label for="produto">Produto</label>
                    <p-multiSelect 
                        [options]="products" 
                        [(ngModel)]="selectProducts" 
                        optionLabel="name" 
                        placeholder="Selecione os produtos" 
                        id="produto"
                    ></p-multiSelect>
                </div>

                <div class="field">
                    <label for="total">Total</label>
                    <p-inputNumber [(ngModel)]="order.total" mode="currency" currency="BRL" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber>
                </div>

                <div class="field">
                    <span>Data</span>
                    <p-inputMask mask="99/99/9999" [(ngModel)]="order.date" placeholder="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>
                </div>
           
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOrderDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="order">Tem certeza que quer deletar <b>{{order.code}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrderDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOrdersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que quer deletar os pedidos selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrdersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
