<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClients()" [disabled]="!selectedClients || !selectedClients.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="clients" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedClients" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Clientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                        <th pSortableColumn="cep">CEP <p-sortIcon field="cep"></p-sortIcon></th>
                        <th pSortableColumn="estados">Estado <p-sortIcon field="estados"></p-sortIcon></th>
                        <th pSortableColumn="municipios">Município <p-sortIcon field="municipios"></p-sortIcon></th>
                        <th pSortableColumn="logradouro">Logradouro <p-sortIcon field="logradouro"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-client>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="client"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Código</span>
                            {{client.code || client.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{client.nome}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">CPF</span>
                            {{client.cpf}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">CEP</span>
                            {{client.cep}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            {{client.estado.nome}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Município</span>
                            {{client.municipio.nome}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Rua</span>
                            {{client.logradouro}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClient(client)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClient(client)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Client Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/client/' + client.image" [alt]="client.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="client.image">

                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="client.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.name}"/>
                </div>

                <div class="field">
                    <label for="cpf">CPF</label>
                    <!-- <input type="text" pInputText id="cpf" [(ngModel)]="client.cpf" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.cpf}"/> -->
                    <p-inputMask mask="999.999.999-99" [(ngModel)]="client.cpf" placeholder="999.999.999-99" />
                </div>

                <div class="field">
                    <label for="cep">CEP</label>
                    <!-- <p-inputMask mask="99999-999" [(ngModel)]="client.cep" placeholder="99999-999" (blur)="getCep(client.cep)" /> -->
                    <input type="text" pInputText id="cep" [(ngModel)]="client.cep" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.cep}" (blur)="getCep(client.cep)"/>
                </div>

                <div class="field">
                    <label for="ufs">Estados</label>
                    <p-dropdown (onChange)="getMunicipios(client.estado.id)" [options]="ufs" [(ngModel)]="client.estado" optionLabel="nome" placeholder="Selecione um estado" />
                </div>
                
                <div class="field">
                    <label for="municipios">Municípios</label>
                    <p-dropdown (onChange)="testeUF()" [options]="municipios" [(ngModel)]="client.municipio" optionLabel="nome" placeholder="Selecione um municipio" />
                </div>
                
                <div class="field">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" pInputText id="logradouro" [(ngModel)]="client.logradouro" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.logradouro}"/>
                </div>

                <!-- <div class="field">
                    <label for="bairro">Bairro</label>
                    <input type="text" pInputText id="bairro" [(ngModel)]="client.bairro" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.bairro}"/>
                </div> -->

                <div class="field">
                    <label for="telefone">Telefone</label>
                    <p-inputMask mask="(99)99999-9999" [(ngModel)]="client.telefone" placeholder="(99)99999-9999" />
                    <!-- <input type="text" pInputText id="telefone" [(ngModel)]="client.telefone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.telefone}"/> -->
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClient()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="client">Você tem certeza que quer deletar <b>{{client.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você tem certeza que quer deletar os clientes selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
